# Ignore les dossiers générés par Java
/target/

# Ignore les dossiers générés par Node.js
/api/node_modules/
/api/.DS_Store

# Ignorer les fichiers spécifiques à IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Ignorer les fichiers de configuration de VSCode
.vscode/


